<!DOCTYPE html>
<html>

    <!-- The base HTML file that most of the pages of our site inherit-->  

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if title %}
            <title>Attendance Tracker - {{ title }}</title>
        {% else %}
            <title>Attendance Tracker - Base</title>
        {% endif %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    </head>

    <body>
        <section class="hero is-link is-fullheight">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="navbar-brand">
                        <a href="{{ url_for('common.index') }}" class="navbar-item">
                            <p class="title is-4">
                                Attendance Tracker
                            </p>
                        </a>
                    </div>

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <!-- Hides navbar items based on user authentication status -->
                        <div class="navbar-end">
                            {% if current_user.is_anonymous %}
                                <a href="{{ url_for('auth.register') }}" class="navbar-item">
                                    <p class="title is-5">
                                        Register
                                    </p>
                                </a>
                                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                    <p class="title is-5">
                                        Login
                                    </p>
                                </a>
                            {% endif %}  
                            
                            {% if current_user.is_authenticated %}
                                {% if current_user.get_user_type() == 'student' %}
                                    <a href="{{ url_for('auth.student_dashboard') }}" class="navbar-item">
                                        <p class="title is-5">
                                            Dashboard
                                        </p>
                                    </a>
                                {% endif %}

                                {% if current_user.get_user_type() == 'teacher' %}
                                    <a href="{{ url_for('auth.teacher_dashboard') }}" class="navbar-item">
                                        <p class="title is-5">
                                            Dashboard
                                        </p>
                                    </a>
                                {% endif %}
                            {% endif %}

                                <a href="{{ url_for('common.about') }}" class="navbar-item">
                                    <p class="title is-5">
                                        About
                                    </p>
                                </a>

                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                    <p class="title is-5">
                                        Logout
                                    </p>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
            
            <div class="hero-body">
                <div class="container has-text-centered">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <div class="hero-foot is-white">
                <div class="container has-text-centered">
                    This is a class project 
                </div>
            </div>

        </section>
    </body>
</html>