<!DOCTYPE html>
<html>

    <!-- The base HTML file that most of the pages of our site inherit-->
    <!-- TODO: Place conditions on the navbar items based on if the user is logged in or not. -->
    <!-- i.e. If a user is logged in the register and login buttons should not appear. -->
    

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if title %}
            <title>Attendance Tracker - {{ title }}</title>
        {% else %}
            <title>Attendance Tracker - Base</title>
        {% endif %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    </head>

    <body>
        <section class="hero is-link is-fullheight">
            <div class="hero-head">
                <nav class="navbar">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('auth.register') }}" class="navbar-item">
                                Register
                            </a>
                        <div class="navbar-end">
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>    
                        </div>
                        <div class="navbar-end">
                            <a href="{{ url_for('common.about') }}" class="navbar-item">
                                About
                            </a>
                        <div class="navbar-end">
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            
            <div class="hero-body">
                <div class="container has-text-centered">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <div class="hero-foot is-white">
                <div class="container has-text-centered">
                    This is a class project 
                </div>
            </div>

        </section>
    </body>
</html>